// ==========================================================================
// CHROME FRAME PROMPT
//
// I would recommend against using this in most situations.
// (Super annoying for those who can't upgrade.)
//
// ==========================================================================

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}